.container{
  display: flex;
  justify-content: left;
  align-items: flex-start;
  padding-left: 100px;
  padding-bottom: 100px;

  .image{
    position: relative;
    height: 80px;
    width: 80px;
    img{
      object-fit: cover;
    }
  }
  .text{
    padding-left: 30px;

    h3{

    }

    p{

    }
    span{

      display: flex;
      gap: 12px;
      button{
        all: unset;
        cursor: pointer;

      }
    }
  }
}